<br>
<div id="articulos">
  <table class="table"> 
    <thead> 
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Unidades</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th> 
    </tr></thead>
    <tbody>
      <tr *ngFor="let articulo of listaArticulos | async">
        <td>{{articulo.nombreArticulo}}</td>
        <td>{{articulo.unidades}}</td>
        <td>{{articulo.precio}} </td>
        <td> 
          <app-borrar-articulo [articulo]=articulo> </app-borrar-articulo>
          <button class="btn btn-success mr-1" routerLink="/actualizararticulo/{{articulo.idArticulo}}">Actualizar</button>
          <button class="btn btn-primary mr-0" routerLink="/crearventa/{{articulo.idArticulo}}">Crear venta</button>
        </td>
      </tr>
     </tbody>
  </table>
</div>

