<h1>Registrar Artículo Electrónico</h1>
<form [formGroup]="articuloForm" (ngSubmit)="crear()">
  <div class="row">
    <div class="col-sm-2">
      <label>Id:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="idArticulo" name="idArticulo" placeholder="Id Articulo" class="form-control"
        formControlName="id">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Descripción:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="descripcionArticulo" name="descripcion" placeholder="Descripción artículo"
        class="form-control" formControlName="descripcion">
    </div>
  </div>
</form>
