<br>
<div id="ventas" >
  <table class="table"> 
    <thead> <tr>
      <th scope="col">IdArticulo</th>
      <th scope="col">IdUsuario</th>
      <th scope="col">CantidadVenta</th>
      <th scope="col">PrecioUnidad</th>
      <th scope="col">DetalleDescuento</th>
    </tr></thead>
    <tbody>
      <tr *ngFor="let venta of listaVentas | async">
        <td>{{venta.idArticulo}}</td>
        <td>{{venta.idUsuario}}</td>
        <td>{{venta.unidadVenta}} </td>
        <td>{{venta.precioUnidad}}</td>
        <td>{{venta.detalleVentaArticulo}}</td>
      </tr>
     </tbody>
  </table>
</div>