<br>
<div id="ventas" >
  <table class="table"> 
    <caption>Lista de ventas</caption>
    <thead> <tr>
      <th scope="col">CantidadVenta</th>
      <th scope="col">PrecioUnidad</th>
      <th scope="col">DetalleDescuento</th>
      <th scope="col">TotalVenta</th>
      <th scope="col">FechaVenta</th>
    </tr></thead>
    <tbody>
      <tr *ngFor="let venta of listaVentas | async">
        <td>{{venta.unidadVenta}} </td>
        <td>{{venta.precioUnidad}}</td>
        <td>{{venta.detalleVentaArticulo}}</td>
        <td>{{venta.totalVenta}}</td>
        <td>{{venta.fechaVentaArticulo}}</td>
      </tr>
     </tbody>
  </table>
</div>